In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

In [2]:
df=pd.read_csv('D:\Deploy\green_tech_data.csv')

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
C:\Users\Dell\AppData\Local\Temp\ipykernel_6480\3120119433.py:1: SyntaxWarning: invalid escape sequence '\D'
  df=pd.read_csv('D:\Deploy\green_tech_data.csv')

In [11]:
df.head()

   carbon_emissions  energy_output  ...  cost_efficiency  sustainability
0        181.089042     128.286267  ...         0.732568               1
1        382.750007     672.769370  ...         2.891096               0
2        306.197880     382.920383  ...         2.932858               0
3        259.530469     557.713622  ...         3.368435               0
4        104.606524     916.809827  ...         3.767411               0

[5 rows x 5 columns]

In [7]:
df.isnull().sum()

carbon_emissions      0
energy_output         0
renewability_index    0
cost_efficiency       0
sustainability        0
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   carbon_emissions    100 non-null    float64
 1   energy_output       100 non-null    float64
 2   renewability_index  100 non-null    float64
 3   cost_efficiency     100 non-null    float64
 4   sustainability      100 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 4.0 KB

In [5]:
df.columns

Index(['carbon_emissions', 'energy_output', 'renewability_index',
       'cost_efficiency', 'sustainability'],
      dtype='object')

In [6]:
x=df[['carbon_emissions', 'energy_output', 'renewability_index',
       'cost_efficiency']]

y=df['sustainability']

In [10]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x=scaler.fit_transform(x)